site_name: TFM Records Wiki
site_url: https://wiki.tfmrecords.com

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - content.code.copy
    - search.highlight
  language: en

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          default: true
        - locale: tr
          name: Türkçe
        - locale: es
          name: Español
        - locale: pt
          name: Português
