site_name: TFM Records Wiki
site_url: https://wiki.tfmrecords.com

repo_url: https://github.com/TFMRecords/wiki
repo_name: GitHub
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - content.code.copy
    - content.action.edit
    - search.highlight
    - search.suggest
    - toc.follow
  language: en
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Dark mode

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          default: true
        - locale: tr
          name: Türkçe
        - locale: es
          name: Español
        - locale: pt
          name: Português

markdown_extensions:
  - admonition
  - tables
  - toc:
      permalink: true
